# Python / build
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Ambientes locais
.venv/
venv/
env/
.env
.env/

# Streamlit
.streamlit/

# IDE / SO
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Workdirs e saídas pesadas
work/
work_*/
work-*/
port_out/
bactopia_out/
bactopia-out/
results/
reports/

# Datasets / fastqs locais (caso estejam dentro do projeto)
fastqs/
FASTQ/
fastq/
FASTQS/
datasets/
data/
