# ------------------
# Python / Streamlit
# ------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
*.spec

# Ambientes virtuais
.venv/
venv/
env/
.env/
.env

# Streamlit
.streamlit/
!.streamlit/config.toml

# ------------------
# IDE / SO
# ------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ------------------
# Nextflow / Bactopia / PORT
# ------------------

# workdirs grandes
work/
work_*/
work-*/

# Nextflow metadata/cache
.nextflow/
.nextflow.*
*.nfcache

# Bactopia / PORT outputs
bactopia_out/
bactopia-out/
port_out/
results/
reports/

# Datasets locais e fastqs (ajuste conforme sua org)
fastqs/
FASTQ/
fastq/
FASTQS/
datasets/
data/

# Logs / temporários
*.log
*.tmp
*.bak
